* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    --dark: #011;
    --green: green;
    --light: #efefef;
    --red: red;
  
    color: var(--dark);
    font: 20px/1 sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
  }
  
  .playing-card {
    background-color: var(--light);
    border-radius: 0.5rem;
    display: flex;
    height: 8rem;
    margin: 0.5rem;
    padding: 1rem;
    width: 6rem;
  }
  
  .table {
    align-items: center;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    height: 20rem;
  }
  
  .value-container {
    align-items: center;
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  .dealer-hand{
      display: flex;
    background-color : purple;
  }

  .user-hand{
    display: flex;
    background-color : orange;
}